@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lora:wght@600&family=Raleway:wght@300&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
  }
  a {
    text-decoration: none;
    color: black;
  }
  /* ******************* NAVBAR ******************* */
  nav {
    overflow: hidden;
    background-color: ghostwhite;
    position: fixed;
    width: 100%;
    opacity: 0.9;
  }
  header li {
    float: right;
    font-size: 1.2em;
  }
  header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
  }
  #logo {
    font-family: 'Lora';
    font-weight: bold;
    float: left;
  }
  /* **************** IMAGE PRINCIPALE ************* */
  #imagePrincipale {
    padding-top: 60px;
    background-size: cover;
    height: 150px;
  }
  h1 {
    font-family: 'Lora';
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }
  #premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
  }
  h3 {
    text-align: center;
    color:antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }
  /* *************** PRESENTATION ********************** */
  #presentation {
    background-color: black;
    color: whitesmoke;
    padding: 10px 0px 100px 0;
  }
  #texteIntro {
    padding: 0px 20%;
  }
  #prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;  
  }
  .imagesPrestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
  }
  .imagesPrestations img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
  }
  .imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
  }

  .flex-container{
    display: flex;
  }

  .main-content{
flex: 2 1 400px;
  }

  .sidebar{
flex: 1 1 400px;
  }
  /* **************** Galerie ********************** */
.Galerie{
  background-color: ghostwhite;
}

.Album {
  display: flex;
  max-width: 400px;
  width: 100%;
}

.code, .ani, .envi, .lev, .trav{
width: 270px;
height: 200px;
padding: 10px;
box-shadow: 0 10px 20px black;
}

  /* ******************* FOOTER ******************** */
  footer {
    background-color: lightblue;
    color: white;
    border-top: 1px dashed white;
    width: 100%;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  ul{
list-style: none;
  }

  .fin{
    display: flex;
    flex-wrap: wrap;
  }

  .footer2{
    width: 25%;
    padding: 0 15px;
  }
  .footer2 h4{
  font-size: 18px;
  margin-bottom: 30px;
  }

img{
  width: 50px;
}
.fb, .in, .tw{
  padding-left: 40px;
margin-right: 40px;
}

.in{
  padding-left: 50px;
}

a:link{
color: white;
}

.contenufooter{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.Maisonneuve{
 text-align: left;
}

.Liens{
 padding-left: 90px;
 }

 .listeref{
 align-items: flex-start;
 }
/*-----Table-----*/

.tableau{
  margin-left: auto;
    margin-right: auto;
    text-align: center;
}

  .tableau-style{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px black;
    margin: 100px auto;
    border: 1px solid whitesmoke;
}
thead tr{
    background-color: crimson;
    color: white;
    text-align: left;
}

th, td{
    padding: 15px 20px;
}

tbody tr, td, th{
    border: 1px solid whitesmoke;
}

tbody tr:nth-child(even){
    background-color: ghostwhite;
}

/*---Ins---*/

.ins{
  margin: 0;
  padding: 0;
}

/*----Vidéo----*/

.vid{
  width: 400px;
  height: 225px;
  padding-left: 530px;
}
.vid2{
  width: 400px;
  height: 225px;
  padding-left: 530px;
}

/*--Article--*/

.arti{
width: 100%;
background-color: ghostwhite;
}

.arti .partie{
width: 100%;
margin: auto;
}

.arti .partie .début{
  width: 60%;
  text-align: center;
  margin: auto;
  }

  .arti .partie .début p{
 margin-top: 15px;
 font-size: 18px;
 line-height: 1.5;
 color: black;
  }
 .contenu{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
 }
 .contenu .carte{
flex: 1;
margin: 50px 20px;
box-shadow: 0 0 5 0 black;
background-color: #fff;
 }
 .contenu .carte img{
width: 100%;
height: auto;
}
.contenu .carte h4{
margin-top: 10px;
margin-left: 10px;
font-size: 18px;
}
.contenu .carte p{
 font-size: 15px;
 color: black;
 line-height: 1.5;
 padding: 10px;
  }